* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 60px;
    margin-right: 10px;
}

.school-text h1 {
    font-size: 20px;
    font-weight: bold;
}

.school-text p {
    font-size: 12px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
    padding: 5px 8px;
}

.menu a:hover {
    background-color: #ffffff;
    color: #0b6b1b;
    border-radius: 4px;
}

.schoolpic {
    display: flex;
    object-fit: cover;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.schoolbuild img {
  width: 100%;
  height: 60vh;  
  object-fit: cover;  
}



@media(min-width:768px) {
    .schoolbuild img {
        height: 552px;
    }
}

@media(min-width:1000px) {
    .schoolbuild img {
        height: 577px;
        width: 1026px;
    }
}

.section {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}

.card {
    background: #fff;
    width: 300px;
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.card.active {
    border: 2px solid red;
}

.card img {
    position: absolute;
    top: -25px;
    left: 20px;
    width: 50px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

.card h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.card p {
    text-align: justify;
    line-height: 1.6;
    font-size: 14px;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

.content {
    width: 50%;
}

.badge {
    display: inline-block;
    background: red;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.badge h1 {
    font-size: 42px;
    margin: 10px 0;
}

.highlight {
    color: red;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text {
    color: #333;
    line-height: 1.7;
    font-size: 15px;
}

.image-box {
    /* width: 60%; */
    position: relative;
    border: 4px solid #f2f2f2;
    padding: 10px;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}

.corner {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid black;
}

.top-left {
    top: -10px;
    left: -10px;
    border-right: none;
    border-bottom: none;
}

.bottom-right {
    bottom: -10px;
    right: -10px;
    border-left: none;
    border-top: none;
}

.container-2 {
    width: 90%;
    margin: 40px auto;
    display: flex;
    gap: 20px;
}

.card-2 {
    background: #fff;
    width: 33%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header-2 {
    background: red;
    color: #fff;
    padding: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.card-header-2 span {
    /* background: #ffb300; */
    padding: 5px 10px;
    border-radius: 4px;
}

.card-body-2 {
    /* padding: 15px;
    background: #f5f8ff; */
       padding: 15px;
    background: #f5f8ff;
    height: 250px;       
    overflow: hidden;      
    position: relative;
}

.card-body-2 p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.posted {
    color: black;
    font-style: italic;
    margin-top: 10px;
    display: block;
    font-weight: 900;
}

.card-body-2 hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.section-2 {
    padding: 50px 20px;
    color: white;
    text-align: center;
    background-color: black;
    margin: 20px;
}

.section-2 h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.section-2 p {
    max-width: 900px;
    margin: 0 auto 40px;
    font-size: 16px;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cards-3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* flex-wrap: wrap; */
  
}

.card-3 {
    width: 220px;
    text-align: center;
    position: relative;
}

.card-3 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    border: 4px solid white;
}




.name-box {
    background: red;
    color: white;
    padding: 10px;
    margin-top: -20px;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.name-box h3 {
    margin: 5px 0 0;
    font-size: 16px;
}

.name-box span {
    font-size: 13px;
}

.decor {
    position: absolute;
    border: 3px solid red;
    width: 30px;
    height: 30px;
}

.top-left {
    top: -10px;
    left: -10px;
    border-right: none;
    border-bottom: none;
}

.top-right {
    top: -10px;
    right: -10px;
    border-left: none;
    border-bottom: none;
}

.bottom-left {
    bottom: 40px;
    left: -10px;
    border-right: none;
    border-top: none;
}

.bottom-right {
    bottom: 40px;
    right: -10px;
    border-left: none;
    border-top: none;
}

.stats-section {
    text-align: center;
    padding: 80px 20px;
    /* height: 600px; */
}

.stats-section h1 {
    font-size: 36px;
    margin-bottom: 15px;
    height: 100%;
}

.stats-section p {
    font-size: 16px;
    color: #ccc;
    max-width: 700px;
    margin: auto;
}

.part {
    background: #000;
    color: #fff;
    padding: 36px;
}

.divider {
    margin: 25px auto 50px;
    width: 100px;
    height: 2px;
    background: #ff9900;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card-4 {
    border: 2px solid red;
    padding: 40px 30px;
    width: 260px;
    transform: skew(-5deg);
    text-align: center;
}

.card-4 * {
    transform: skew(5deg);
}

.icon {
    background: red;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    margin: auto;
    font-size: 28px;
}

.card-4 h2 {
    font-size: 40px;
    margin: 15px 0;
}

.card-4 p {
    font-size: 16px;
    font-weight: bold;
}


.why-choose {
    text-align: center;
    padding: 60px 40px;
}

.why-choose h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitle {
    max-width: 700px;
    margin: auto;
    color: #444;
    font-size: 16px;
}

.divider-2 {
    margin: 25px auto 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.divider span {
    width: 70px;
    height: 2px;
    background: #ccc;
}

.diamond {
    width: 14px;
    height: 14px;
    background: red;
    transform: rotate(45deg);
}

.features {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.feature-box {
    text-align: center;
}

.icon {
    width: 90px;
    height: 90px;
    background: red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.icon i {
    font-size: 40px;
    color: #fff;
}

.feature-box h3 {
    margin-top: 15px;
    font-size: 18px;
}

.feature-box p {
    font-size: 14px;
    color: #444;
    margin-top: 8px;
}

@media (max-width: 992px) {
    .features {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
}

.admission-box {
    width: 80%;
    margin: 100px auto;
    background: #000;
    color: #fff;
    border-radius: 50px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.left-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone-icon {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.text-content-1 h3 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
}

.text-content-1 h1 {
    margin: 5px 0 0;
    font-size: 32px;
    font-weight: bold;
}

.request-btn {
    background: red;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.request-btn:hover {
    background: #ff8800;
}

@media(max-width:768px) {
    .admission-box {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}

.footer {
    background: #000;
    padding: 50px 80px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: 40px;
}

.logo h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
}

.map iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

.footer h3 {
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
}

.underline {
    width: 60px;
    height: 3px;
    background: orange;
    margin-bottom: 20px;
}

/* Address */
.address-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    color: #ccc;
}

.address-item i {
    margin-right: 12px;
    font-size: 18px;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.links a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.links a:hover {
    color: orange;
}

/* Social Icons */
.social {
    margin-top: 40px;
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #555;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    color: #fff;
}

.social a:hover {
    background: red;
    border-color: red;
}

/* Responsive */
@media(max-width:900px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}

.copyright-bar {
    background: #2b2b2b;
    color: #aaa;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    letter-spacing: 1px;
}

/* marquee{
    display: flex;
    gap: 20px;
} */